<div class="card">
    <div class="card-header">
        <h3 class="card-title">Experiment</h3>
    </div>
    <div class="card-body">
        <h4 class="card-title">Experiment Finished</h4>
        <p class="card-text">Thank you for your participation!</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary" id="back_home">Back to Homepage</a>
    </div>

    <script>
        //go back to homepage when click #back_home
        $("#back_home").click(function() {
            //go to login.html in flask
            window.location.href = "{{ url_for('login') }}";
        });
    </script>
</div>