<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main Page</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />


    <!-- Custom CSS for hierarchy -->
    <style>
        ul {
            list-style-type: none;
        }

        .hidden {
            display: none;
        }

        /* Mindmap styling */
        #mindmap {
            font-family: 'Microsoft YaHei', Arial, sans-serif;  /* Font family */
            font-size: 20px;  /* Font size */
            color: #333;  /* Font color */
            line-height: 1.5;  /* Line height */
        }

        #mindmap ul {
            padding-left: 30px;  /* Indentation */
        }

        #mindmap a {
            color: #007bff;  /* Link color */
            text-decoration: none;  /* Remove underline */
            padding: 2px 10px;  /* Padding */
            border-radius: 5px;  /* Rounded corners */
            background-color: #f5f5f5;  /* Background color */
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);  /* Shadow */
            display: inline-block;
            margin: 10px;  /* Increase space around each item */
        }

        .example {
            color: #ff0000;  /* Link color */
            text-decoration: none;  /* Remove underline */
            padding: 2px 10px;  /* Padding */
            border-radius: 5px;  /* Rounded corners */
            background-color: #f5f5f5;  /* Background color */
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);  /* Shadow */
            display: inline-block;
            margin: 10px;  /* Increase space around each item */
        }

        #mindmap a:hover {
            color: #0056b3;  /* Link color on hover */
            background-color: #e8e8e8;  /* Background color on hover */
        }


        /* Option card styling */
        .card {
            font-size: 20px;  /* Font size */
        }

        /* Styles for selectable nodes */
        .node-link.selectable {
            color: blue;
            cursor: pointer;
        }

        /* Styles for active "Select Node" button */
        .select-node.active {
            background-color: blue;
            color: white;
        }

        .styled-button {
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            padding: 2px 10px;
            cursor: pointer;
        }

    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12 text-center">
                <h1>AI助手能力评估</h1>
            </div>
        </div>
        <!-- Progress Indicator -->
        <div class="row mt-3">
            <div class="col-6 text-center">
                <!-- Empty -->
            </div>
            <div class="col-6 text-right">
                <h5>进度: <span id="progress">0</span></h5>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 d-flex align-items-center justify-content-center">
                <!-- Mind Map -->
                <div id="mindmap">
                    <ul>
                        <li>理解
                            <ul>
                                <li>模糊语义理解
                                    <ul>
                                        <li>缺失参数补足</li>
                                        <li>范围程度推断</li>
                                        <li>模糊指代识别</li>
                                    </ul>
                                </li>
                                <li>口语化表达理解</li>
                                <li>评估与判断</li>
                            </ul>
                        </li>
                        <li>规划
                            <ul>
                                <li>条件触发</li>
                                <li>循环重复</li>
                            </ul>
                        </li>
                        <li>执行
                            <ul>
                                <li>操作</li>
                                <li>信息</li>
                                <li>稳定</li>
                                <li>领域</li>
                                <li>智能</li>
                            </ul>
                        </li>
                    </ul>
                </div>                
            </div>
            <div class="col-6">
                <!-- Question Introduction -->
                <div class="mt-3 mb-3">
                    <h4 id="question-text">一个AI助手<u><span id="feasibility-text" class="example"></span></u>响应如下指令<br/>"<span id="example-instance" class="example"></span>"，<br/>请评价你因为这个实例对该AI助手响应如下指令的信任度变化和其中原因</h4>
                </div>

                 

                <!-- Options -->
                <!-- ... -->
                <!-- Options -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title example" id="instance">Option</h5>
                        <!-- Statements -->
                        <!-- Belief Rating -->
                        <div class="belief-rating">
                            <p class="mb-1">你认为该AI助手能否响应该指令:</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefRating" id="belief1" value="1">
                                <label class="form-check-label" for="belief1">1(非常悲观)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefRating" id="belief2" value="2">
                                <label class="form-check-label" for="belief2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefRating" id="belief3" value="3">
                                <label class="form-check-label" for="belief3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefRating" id="belief4" value="4">
                                <label class="form-check-label" for="belief4">4(中立)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefRating" id="belief5" value="5">
                                <label class="form-check-label" for="belief5">5</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefRating" id="belief6" value="6">
                                <label class="form-check-label" for="belief6">6</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefRating" id="belief7" value="7">
                                <label class="form-check-label" for="belief7">7(非常乐观)</label>
                            </div>
                        </div>
                        <!-- Change in Belief Rating -->
                        <div class="belief-change-rating mt-3">
                            <p class="mb-1">样例的存在对你的判断产生了怎样的影响:</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefChangeRating" id="beliefChange1" value="1">
                                <label class="form-check-label" for="beliefChange1">1(非常负向)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefChangeRating" id="beliefChange2" value="2">
                                <label class="form-check-label" for="beliefChange2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefChangeRating" id="beliefChange3" value="3">
                                <label class="form-check-label" for="beliefChange3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefChangeRating" id="beliefChange4" value="4">
                                <label class="form-check-label" for="beliefChange4">4(中性)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefChangeRating" id="beliefChange5" value="5">
                                <label class="form-check-label" for="beliefChange5">5</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefChangeRating" id="beliefChange6" value="6">
                                <label class="form-check-label" for="beliefChange6">6</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="beliefChangeRating" id="beliefChange7" value="7">
                                <label class="form-check-label" for="beliefChange7">7(非常正向)</label>
                            </div>
                        </div>
                    </br>
                        <div class="statements" id="statements">
                            <!-- Initial statement -->
                            <div class="form-row form-group align-items-center">
                                <!-- Option selection -->
                                <div class="col-md-3">
                                    <select class="form-control option-select">
                                        <option value="custom">自定义描述</option>
                                        <option value="option1">同能力比较</option>
                                        <option value="option2">不同能力比较</option>
                                        <option value="option3">能力错配</option>
                                        <option value="option4">能力范畴比较</option>
                                    </select>
                                </div>
                                <!-- Expression -->
                                <div class="col-md-8">
                                    <div class="input-group expression-group">
                                        <input type="text" class="form-control custom-expression-input">
                                         <!-- The expression will be constructed here dynamically -->
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-danger remove-statement"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Add Statement Button -->
                        <button type="button" class="btn btn-secondary add-statement mt-3" data-statements="statements"><i class="fas fa-plus"></i></button>
                    </div>
                </div>                                              
                <!-- ... -->

                <!-- Next Button -->
                <button type="button" class="btn btn-primary btn-block" id="next-button">Next</button>
                <button type="button" class="btn btn-info btn-block" id="skip-button">Skip</button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>

        // Variable to hold currently selected input field
        var selectedButton = null;
        var select_state =false;

        $(function() {
            $('#mindmap').jstree({
                'core' : {
                    'animation' : 0,
                    'expand_onload' : true,
                    'themes':{
                        'icons' : false,
                        'theme' : 'default',
                        'dots' : true,
                        'ellipsis': true,
                        'stripes': false,
                    },
                    'multiple': true,
                    'dblclick_toggle': false,
                    'check_callback' : true,
                },
            }).on("select_node.jstree", function (e, data) {
                if (!select_state) {
                    return;
                }
                var nodeValue = data.instance.get_node(data.selected).text;
                //set the value of the selected button
                selectedButton.text(nodeValue);
                selectedButton.removeClass('active');  // Remove highlight from button
                selectedButton = null;
                select_state = false;
            });
            $('#mindmap').jstree('open_all');
        });

        // Enable node selection when "Select Node" button is clicked
        $('body').on('click', '.select-node', function() {
            // Enter node selection mode
            selectedButton = $(this);  // Store reference to button
            selectedButton.addClass('active');  // Highlight button
            select_state = true;
        });


        // Update input box when node is clicked in node selection mode
        $('body').on('click', '.selectable', function() {
            // Update input field with node value
            var nodeValue = $(this).text();
            //set the value of the selected button
            selectedButton.text(nodeValue);

            // Exit node selection mode
            selectedInputField = null;
            $('.node-link').removeClass('selectable');
            selectedButton.removeClass('active');  // Remove highlight from button
            selectedButton = null;
        });

        var valid_flag = true;


        // TODO: Add your next button handler here
        $('#next-button').click(function() {
            // Handle next button click here
            // save the current user selection to server
            save_current_selection();
            if(!valid_flag){
                valid_flag=true
                return;
            }
            // clear all the input content
            clear_current_input();
            // add 1 to progress text
            $('#progress').text(parseInt($('#progress').text()) + 1);
            // load new question set to the page
            $.getJSON('/get_next_question', function(data) {
                // Clear the current data
                update_question_set(data);
            });
        });

        // TODO: Add your next button handler here
        $('#skip-button').click(function() {
            clear_current_input();
            $.getJSON('/get_next_question', function(data) {
                // Clear the current data
                update_question_set(data);
            });
        });

        function save_current_selection(){
            // save the current user selection to server
            // get the current question id
            var example_instance = $('#example-instance').text();
            // get example feasibility
            var example_feasibility = $("#feasibility-text").text();
            // get the current belief rating
            var belief_rating = $("input[name='beliefRating']:checked").val();
            if(belief_rating == undefined){
                valid_flag = false;
                return;
            }
            // get the current belief change rating
            var belief_change_rating = $("input[name='beliefChangeRating']:checked").val();
            if(belief_change_rating == undefined){
                valid_flag = false;
                return;
            }
            // get the current statements
            var statements = [];
            $('#statements').children().each(function(){
                var option = $(this).find('.option-select').val();
                var expression_group = $(this).find('.expression-group');
                //get all the selected nodes in the expression group
                var expression = [];
                expression_group.children().each(function(){
                    if($(this).hasClass('select-node')){
                        expression.push($(this).text());
                    }
                    if($(this).hasClass('dropdown')){
                        expression.push($(this).children('.dropdown-toggle').text());
                    }
                    if($(this).hasClass('custom-expression-input')){
                        expression.push($(this).val());
                    }
                });
                if (expression.length == 0){
                    valid_flag = false;
                    return;
                }
                statements.push({'option':option,'expression':expression});
            });
            if(statements.length == 0){
                valid_flag = false;
                return;
            }
            // send the data to server
            $.ajax({
                url: '/save_current_selection',
                type: 'POST',
                data: JSON.stringify({
                    'example_instance': example_instance,
                    'example_feasibility': example_feasibility,
                    'belief_rating': belief_rating,
                    'belief_change_rating': belief_change_rating,
                    'statements': statements
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function(msg) {
                    console.log(msg);
                }
            });
        }

        function clear_current_input(){
            // clear the current input
            $("input[name='beliefRating']").prop('checked', false);
            $("input[name='beliefChangeRating']").prop('checked', false);
            $('#statements').html('\
            <div class="form-row form-group align-items-center">\
                <!-- Option selection -->\
                <div class="col-md-3">\
                    <select class="form-control option-select">\
                        <option value="custom">自定义描述</option>\
                        <option value="option1">同能力比较</option>\
                        <option value="option2">不同能力比较</option>\
                        <option value="option3">能力错配</option>\
                        <option value="option4">能力范畴比较</option>\
                    </select>\
                </div>\
                <!-- Expression -->\
                <div class="col-md-8">\
                    <div class="input-group expression-group">\
                        <input type="text" class="form-control custom-expression-input">\
                    </div>\
                </div>\
                <div class="col-md-1">\
                    <button type="button" class="btn btn-danger remove-statement"><i class="fas fa-trash-alt"></i></button>\
                </div>\
            </div>\
            ');
        }

        function update_question_set(data){
            var example_feasibility = data.feasibility;
            if (example_feasibility == true) {
                var feasibility_text = "能够稳定";
            } else {
                var feasibility_text = "不能正确";
            }
            $('#feasibility-text').text(feasibility_text);
            $('#example-instance').text(data.example_instance);
            //var example_text = `一个AI助手<u>${feasibility_text}</u>响应如下指令<br/>\"${data.example_instance}\"，<br/>请评价你因为这个实例对该AI助手响应如下指令的信任度变化和其中原因"`;
            //$('#question-text').html(example_text);
            // update the remaining 3 command instances to corrsponding parts
            var instance_text = data.instance;
            $('#instance').html(instance_text);
        }

        // Add statement button click
        $('.add-statement').click(function() {
            var statementsId = $(this).data('statements');
            $('#' + statementsId).append('\
            <div class="form-row form-group align-items-center">\
                <!-- Option selection -->\
                <div class="col-md-3">\
                    <select class="form-control option-select">\
                        <option value="custom">自定义描述</option>\
                        <option value="option1">同能力比较</option>\
                        <option value="option2">不同能力比较</option>\
                        <option value="option3">能力错配</option>\
                        <option value="option4">能力范畴比较</option>\
                    </select>\
                </div>\
                <!-- Expression -->\
                <div class="col-md-8">\
                    <div class="input-group expression-group">\
                        <input type="text" class="form-control custom-expression-input">\
                    </div>\
                </div>\
                <div class="col-md-1">\
                    <button type="button" class="btn btn-danger remove-statement"><i class="fas fa-trash-alt"></i></button>\
                </div>\
            </div>\
            ');
        });

        //upload data when html is loaded
        $(document).ready(function() {
            $.getJSON('/get_next_question', function(data) {
                // Clear the current data
                update_question_set(data);
            });
            //get the user annotation cnt and update on page:
            $.getJSON('/get_user_finished_annotation_cnt', function(data) {
                $('#progress').text(data);
            });
        });

        // On option change
        $('body').on('change','.option-select',function() {
            var option = $(this).val();
            var expressionGroup = $(this).parent().next().find('.expression-group');

            // Clear the previous expression
            expressionGroup.empty();
            if(option === "custom"){
                expressionGroup.append('<input type="text" class="form-control custom-expression-input">');
            }
            else if(option === "option1") {
                // Construct the expression for option 1
                expressionGroup.append('样例要求的');
                expressionGroup.append('<span class="select-node styled-button mx-2">xxx</span>');
                expressionGroup.append('能力')
                expressionGroup.append('<div class="dropdown"><button class="styled-button dropdown-toggle" type="button" data-toggle="dropdown">强于</button><div class="dropdown-menu"><a class="dropdown-item" href="#">强于</a><a class="dropdown-item" href="#">弱于</a><a class="dropdown-item" href="#">接近</a></div></div>');
                expressionGroup.append('当前指令要求')
            }
            else if(option === "option2") {
                expressionGroup.append('样例要求的');
                expressionGroup.append('<span class="select-node styled-button mx-2">xxx</span>');
                expressionGroup.append('能力')
                expressionGroup.append('<div class="dropdown"><button class="styled-button dropdown-toggle" type="button" data-toggle="dropdown">强于</button><div class="dropdown-menu"><a class="dropdown-item" href="#">强于</a><a class="dropdown-item" href="#">弱于</a><a class="dropdown-item" href="#">接近</a></div></div>');
                expressionGroup.append('当前指令的')
                expressionGroup.append('<span class="select-node styled-button mx-2">xxx</span>');
                expressionGroup.append('能力要求')
            }
            else if(option === "option3") {
                var feasibility = $('#feasibility-text').text();
                if (feasibility == "能够稳定") {
                    expressionGroup.append('当前指令要求的');
                    expressionGroup.append('<span class="select-node styled-button mx-2">xxx</span>');
                    expressionGroup.append('能力在样例中没有要求')
                } else {
                    expressionGroup.append('样例要求的');
                    expressionGroup.append('<span class="select-node styled-button mx-2">xxx</span>');
                    expressionGroup.append('能力在当前指令中没有要求')
                }
            }
            else if(option === "option4") {
                var feasibility = $('#feasibility-text').text();
                if (feasibility == "能够稳定") {
                    // Construct the expression for option 4, with two node selection sections
                    expressionGroup.append('当前指令要求的');
                    expressionGroup.append('<span class="select-node styled-button mx-2">xxx</span>');
                    expressionGroup.append('能力范畴在样例中没有要求')
                }else{
                    expressionGroup.append('样例要求的');
                    expressionGroup.append('<span class="select-node styled-button mx-2">xxx</span>');
                    expressionGroup.append('能力范畴在当前指令中没有要求')
                }
                
            }
        });

        // On dropdown item click
        $(document).on('click', '.dropdown-item', function() {
            // Your logic here
            //change the drop down text to the selected item
            var selected_item = $(this).text();
            $(this).parent().prev().text(selected_item);
           // alert('Dropdown item clicked!');
        });

        
        $('.styled-button').click(function() {
            // Your logic here
            //alert('Button clicked!');
        });

        $(document).on('click', '.remove-statement', function() {
            $(this).closest('.form-row').remove();
        });

        





        
    </script>
</body>
</html>
